.DS_Store
.env
.env.local

# IntelliJ IDEs
.idea/

# Visual studio code
.vscode/

# Locally downloaded dependencies
node_modules/
yarn-error.log
# Output dir
dist/

/typechain
//
/node_modules
/scroll-contract-types

/dist

